//Partial nav-menu (Requerimiento 2)
<nav id="navbar" class="navbar navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand mx-auto text-light" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <img src="/assets/img/logo_nav.svg" alt="" width="35">
      MERCADO WEB
    </a>
  </div>
</nav>