//Partial Productos (Requerimiento 3)
//Mensaje de bienvenida (Requerimiento 4)
<h4 id="titulo-bienvenida" class="text-center">Bienvenido al mercado web, seleccione sus productos</h4>
<section id="productos" class="container">
    <div class="row text-center">
        {{#each productos}}
            <div class="col-sm-4">
                {{this.nombre}}
                <img id="imagen-{{this.id}}" class="imagen-producto d-block mx-auto" src="/img/{{this.imagen}}" alt="{{this.nombre}}.png">
            </div>
        {{/each}}
    </div>
</section>